* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-image: url('../images/dengi.jpg');
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

.result {
    background: rgba(204, 204, 204, 0.7);
}

.submit-btn {
    text-align: center;
}

.footer {
    background: rgba(204, 204, 204, 0.7);
    color: #777;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma;
    text-align: center;
}


